@import url('https://fonts.googleapis.com/css2?family=Gugi');

.mainpage{width: 90%;
height: 100vh;
margin: auto;
}

.mainpage h1{
    font-family: 'Gugi', cursive;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.avatarstyle img{
    width: 200px;
    height: 200px;
}