@import url('https://fonts.googleapis.com/css2?family=Gugi');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

.mainpage{width: 90%;
height: 100vh;
margin: auto;
}
.docsec h3{
    font-family: 'Roboto', sans-serif;
}
.mainpage h1{
    font-family: 'Roboto', cursive;
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.avatarstyle img{
    width: 200px;
    height: 200px;
}